h1 {
    font-family: 'Rokkitt', bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 400%;
}

h4 {
    font-family: 'Rokkitt', bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 200%;
} 

label {
    
    font-family: 'Rokkitt', bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
}

input {
        font-family: 'Rokkitt', bold;
    border-style: double;
    border-color: chartreuse;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

textarea {
    font-family: 'Rokkitt', bold;
    border-style: double;
    border-color: chartreuse;
    text-shadow: 2px 2px 4px #000000;
    background: transparent;
    color: white;
    font-size: 25px;
}